button {
  appearance: none;
  background-color: white;
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;

  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
}

body {
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
}

.page main {
  display: flex;
  position: relative;
  height: 100%;
}

main .pretty-button {
  position: absolute;
  top: 5px;
  left: calc(50% - 100px);
  z-index: 10;
}

.pretty-button:disabled{
  background-color: red;
  color: white;
}

main .editor {
  width: 50%;
  height: 100%;
}

.editor .cm-focused {
  outline: none;
}

main .viewer {
  padding: 5px;
}
